

/*******************************************************************************
 *                                                                             *
 * Context Menu, Menus, MenuBar and MenuItem                                   *
 *                                                                             *
 ******************************************************************************/

/****************************** Context Menu **********************************/
.context-menu {
    menu_background_color: #f2f2f2;
    context_menu_border_color: #cccccc;

    separator_color: #c3c3c3;
}

.context-menu {
    -fx-background-color: menu_background_color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.5em 0em 0.5em 0em; /* 6 0 6 0 */

    -fx-border-color: context_menu_border_color;
    -fx-border-style: solid;
}

.context-menu StackPane {
    -fx-background-color: transparent;
}

/* separator */
.context-menu .separator {
    -fx-padding: 0.58333275em 1em 0.58333275em 1em;  /*7 12 7 12 */
}

.context-menu .separator:horizontal .line {
    -fx-border-color: separator_color transparent transparent transparent;
    -fx-border-insets: 0;
}

/********************************* Menu Bar ************************************/

.menu-bar {
    -fx-background-color: background_color;
    -fx-background-insets: 0 0 0 0;
    -fx-font-family: "Segoe UI";
}

.menu-bar > .container {
    -fx-background-color: transparent;
}

.menu-bar > .container > .menu-button {
    -fx-background-color: transparent;
}

.menu-bar > .container > .menu-button {
    -fx-padding: 0.5em 1em 0.5em 0.666667em; /* 6 12 6 8 */
    -fx-border-width: 0;
}

.menu-bar > .container > .menu-button > .arrow-button > .arrow {
    -fx-padding: 0.167em 0 0.25em 0; /* 2 0 3 0 */
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 0;
    -fx-label-padding: 0 0 0 0;
}

.menu-bar > .container > .menu > .arrow-button {
    -fx-padding: 0.5em 0 0.5em 0; /* 6 0 6 0 */
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: menu_button_hover_color;

}

.menu-bar > .container > .menu-button > .label,
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing  > .label {
    -fx-text-fill: text_color;
}

/********************************* Menu Item ***********************************/

.menu-item {
    -fx-text-fill: text_color;
    -fx-background-color: menu_background_color;
    -fx-padding: 0.583333em 1em 0.583333em 1em;   /*7 12 7 12 */
}

.menu-item > .right-container,
.menu-item > .left-container {
    -fx-background-color: menu_background_color;
}

.menu-item .label {
    -fx-padding: 0em 1.333333em 0em 0em; /* 0 16 0 0 */
    -fx-text-fill: text_color;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em; /* 12 */
}

.menu-item > .graphic-container {
    -fx-padding: 0em 0.75em 0em 0em; /* 0 9 0 0 */
}


/*******************************************************************************
 *                                                                             *
 * Context Menu, Menus, MenuBar and MenuItem                                   *
 *                                                                             *
 ******************************************************************************/

/****************************** Context Menu **********************************/

.context-menu {
    menu_background_color: #f2f2f2;
    context_menu_border_color: #cccccc;

    separator_color: #c3c3c3;
}

/********************************* Menu Bar ************************************/

.menu-bar {
    text_color: #111;

    menu_button_hover_color: #dadada;
}

.menu-item {
    text_color: #111;

    menu_background_color: #f2f2f2;

    graphic_color: #0a0a0a;

    hover_color: #dadada;
    pressed_color: #c2c2c2;
}
