

.root{
    -fx-blueColor: #738CD9 ;
    -fx-f2f2f7: #f2f2f7;
    -fx-lightgray: lightgray;
    -fx-white: white;
    -fx-black: black;
    -fx-gray: gray;
}

.card{

    -fx-border-color: -fx-lightgray ;
    -fx-border-width: 1;

}
.cardLabel{
    -fx-text-fill: black;
    -fx-font-family: pyidaungsu;
    -fx-font-size: 18;

}

.cardDateLabel{
    -fx-font-size: 14;
    -fx-text-fill: -fx-gray;
    -fx-font-family: sans-serif;
}
.cardModifiedDateLabel{
    -fx-font-size: 14;
    -fx-font-family: sans-serif;
    -fx-text-fill: -fx-blueColor;
}